.container-fluid
  .row
    .col-md-12
      .row
        .col-md-7.homepage-side
          .row
            .col-md-6
            .col-md-6
              .homepage-title
                %h1 ULTRARend
                %p
                  Gestión fácil y sencilla para las solicitudes, aprobaciones y contabilizaciones de fondos a rendir.
        .col-md-5
          .login-form
            .main-div
              .panel
                %h2 Iniciar Sesión
                %p Por favor ingrese su correo y su contraseña
              %form#Login
                .form-group
                  %input#inputEmail.form-control{:placeholder => "Dirección de correo", :type => "email"}/
                .form-group
                  %input#inputPassword.form-control{:placeholder => "Contraseña", :type => "password"}/
                .forgot
                  %a{:href => '#'} ¿Olvidó su contraseña?
                %button#user_login.btn.btn-dark.btn-lg{:type => "submit"} Ingresar